.breadcrumbs {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.breadcrumbs > li {
  font-size: 1.5rem;
  line-height: 1.875;
  color: #345b43;
  display: inline-block;
}
.breadcrumbs > li:after {
  content: "";
  width: 25px;
  height: 15px;
  margin: 0 15px;
  display: inline-block;
  background: url("../images/icon__arrow_next.png") 0 0 no-repeat;
}
.breadcrumbs > li:last-child:after {
  display: none;
}
.breadcrumbs > li > a {
  color: #345b43;
  text-decoration: none;
}
.breadcrumbs > li > a:hover {
  color: #345b43;
  text-decoration: underline;
}

.form_wrap {
  max-width: 760px;
}

.form_label {
  color: #000;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 5px;
  line-height: 1.25rem;
}

.dx-texteditor-input {
  color: #000;
  padding: 2px 10px;
  font-size: 1rem;
  line-height: 1.5rem;
  border: 1px solid #aaaaaa;
  min-height: 30px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.dx-state-disabled.dx-widget,
.dx-state-disabled .dx-widget {
  opacity: 1;
}

.dx-placeholder:before {
  color: #9fa2ab;
  padding: 2px 10px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.dx-button-content {
  background: #f0f1f1;
}

.dx-dropdowneditor-button {
  padding-left: 0;
  border-left: 1px solid #aaa;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.dx-dropdowneditor-icon {
  background: #f0f1f1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.dx-dropdowneditor-icon:before {
  content: "";
  width: 18px;
  height: 18px;
  background: url("../images/icon__select.png") 50% 50% no-repeat;
}

.dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon,
.dx-dropdowneditor-button.dx-state-active .dx-dropdowneditor-icon {
  background: #d9dada;
}

.dx-checkbox-has-text .dx-checkbox-icon, .dx-checkbox-has-text .dx-checkbox-text {
  vertical-align: top;
}

.form_inline__label {
  color: #626467;
  display: block;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1.25rem;
  text-overflow: ellipsis;
  padding: 5px 10px 5px 0;
}
@media (min-width: 992px) {
  .form_inline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .form_inline__label {
    width: 290px;
    text-align: right;
    padding-right: 30px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .form_inline__label.label_long {
    overflow: visible;
    white-space: normal;
  }
  .form_inline__input {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .form_inline__label.label_long {
    width: 360px;
  }
  .form_inline_float .form_inline__label {
    width: auto;
    text-align: left;
    padding-right: 10px;
  }
  .form_inline_float .form_inline__input {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
  .form_inline_long .form_inline__input {
    min-width: 320px;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}

.inline_block {
  margin: 0 -20px;
}
.inline_block__item {
  padding: 0 10px;
}
@media (min-width: 1200px) {
  .inline_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.form_row {
  margin: 0 -20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.form_col {
  width: 100%;
  padding: 0 20px;
}

@media (min-width: 1600px) {
  .form_col_50 {
    width: 50%;
  }
}

.form_line {
  margin: 0 -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.form_line__elem {
  padding: 0 5px;
}
.form_line__long {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.dx-fileuploader {
  width: auto;
  font-size: 0 !important;
  line-height: 0 !important;
  display: inline-block;
}

.dx-fileuploader-wrapper {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  border: none;
  display: inline-block;
}

.dx-fileuploader-container {
  width: auto;
  height: auto;
  display: inline-block;
}

.dx-fileuploader-input-wrapper {
  padding: 0;
  border: none;
  display: inline-block;
}

.dx-fileuploader-input-container {
  display: none;
}

.form_radio_single {
  font-size: 0;
  line-height: 0;
  font-weight: 400;
  display: inline-block;
}
.form_radio_single input {
  display: none;
}
.form_radio_single span {
  width: 14px;
  height: 14px;
  background: #fff;
  position: relative;
  display: inline-block;
  border: 1px solid #aeaeae;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.form_radio_single span:before {
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  content: "";
  opacity: 0;
  background: #000;
  visibility: hidden;
  position: absolute;
  display: inline-block;
  margin: -4px 0 0 -4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.form_radio_single input:checked + span:before {
  opacity: 1;
  visibility: visible;
}

.radio_emu {
  font-size: 0;
  line-height: 0;
  width: 14px;
  height: 14px;
  background: #fff;
  position: relative;
  display: inline-block;
  border: 1px solid #aeaeae;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.radio_emu:before {
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  content: "";
  opacity: 0;
  background: #000;
  visibility: hidden;
  position: absolute;
  display: inline-block;
  margin: -4px 0 0 -4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.dx-selection .radio_emu:before {
  opacity: 1;
  visibility: visible;
}

.btn {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 15px 40px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #c3325f;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}
.btn:hover {
  color: #fff;
  background: #97BBFB;
}
.btn:active {
  background: #E3CAFF;
}
.btn:focus, .btn.focus {
  outline: 0;
}

.dx-button {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

.btn_text {
  color: #345b43;
  font-size: 1.125rem;
  text-decoration: underline;
}
.btn_text:hover {
  color: #345b43;
  text-decoration: none;
}

.dx-button {
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-color: #9b9b9c;
  background-color: #e9e9ea;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.dx-button:hover, .dx-button:focus {
  border-color: #9b9b9c;
}

.dx-button-has-text .dx-button-content {
  padding: 4px 18px 5px;
}

.btn_green222 {
  color: #fff;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  border-color: #345b43;
  background-color: #345b43;
}
.btn_green222 .dx-button-content {
  background-color: #345b43;
}
.btn_green222:hover, .btn_green222:focus {
  border-color: #345b43;
  background-color: #345b43;
}
.btn_green222:hover .dx-button-content, .btn_green222:focus .dx-button-content {
  background-color: #345b43;
}
.btn_green222.disable {
  border-color: #585c67;
  background-color: #585c67;
}
.btn_green222.disable .dx-button-content {
  background-color: #585c67;
}

.dx-button.btn_green {
  color: #fff;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  border-color: #345b43;
  background-color: #345b43;
}
.dx-button.btn_green .dx-button-content {
  background-color: #345b43;
}
.dx-button.btn_green:hover, .dx-button.btn_green:focus {
  border-color: #345b43;
  background-color: #345b43;
}
.dx-button.btn_green:hover .dx-button-content, .dx-button.btn_green:focus .dx-button-content {
  background-color: #345b43;
}
.dx-button.btn_border {
  color: #345b43;
  border: 2px solid #345b43;
}
.dx-button.btn_border .dx-button-content {
  padding: 3px 18px 4px !important;
}
.dx-button.btn_border:hover {
  color: #fff;
  background-color: #345b43;
}
.dx-button.dx-state-disabled.btn_green {
  border-color: #585c67;
  background-color: #585c67;
}
.dx-button.dx-state-disabled.btn_green .dx-button-content {
  background-color: #585c67;
}
.dx-button.btn_switch {
  width: 100%;
  border: none;
  outline: none;
  text-decoration: none;
  background: transparent;
}
.dx-button.btn_switch .dx-button-content {
  width: 100%;
  padding: 24px 5px 25px 5px;
  background-color: transparent;
}
.dx-button.btn_switch:hover {
  background-color: #dededf;
}

.dx-state-disabled.dx-button .dx-button-text, .dx-state-disabled .dx-button .dx-button-text {
  opacity: 1;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.mb_5 {
  margin-bottom: 5px !important;
}

.mb_10 {
  margin-bottom: 10px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.mb_50 {
  margin-bottom: 50px !important;
}

.mb_60 {
  margin-bottom: 60px !important;
}

.color_red {
  color: #ff000c !important;
}

.color_green {
  color: #345b43 !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #f3f3f3;
  font-size: 1rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #345b43;
  margin-bottom: 20px;
  font-family: "Roboto", Arial, sans-serif;
}

h2, .h2 {
  font-size: 3rem;
  font-family: "Roboto", Arial, sans-serif;
}

h3, .h3 {
  font-size: 2.4rem;
  font-family: "Roboto", Arial, sans-serif;
}

h4, .h4 {
  font-size: 2rem;
  font-family: "Roboto", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  font-family: "Roboto", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  font-family: "Roboto", Arial, sans-serif;
}

p {
  margin: 0 0 20px 0;
}

a {
  outline: none;
  color: #345b43;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #626467;
  text-decoration: underline;
}

.header {
  padding: 10px 0;
  border-bottom: 1px solid #d1d3d6;
}
.header__row {
  padding-right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.header__nav {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.header__nav > li {
  border-left: 1px solid #d1d3d6;
}
.header__nav > li:first-child {
  border-left: none;
}
.header__home {
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  display: block;
  font-weight: 700;
  text-align: center;
  position: relative;
  color: #345b43;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-decoration: none;
  background: transparent;
  text-transform: uppercase;
}
.header__home:hover {
  color: #345b43;
  text-decoration: none;
  background: transparent;
}
.header__home:before {
  top: 14px;
  left: 50%;
  content: "";
  width: 34px;
  height: 32px;
  margin-left: -17px;
  position: absolute;
  background: url("../images/icon__home.png") 50% 50% no-repeat;
}
.header__home .dx-button-content {
  padding: 0;
  height: auto;
}
.header__home span {
  display: none;
}
.header__menu {
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  display: block;
  font-weight: 700;
  text-align: center;
  position: relative;
  color: #345b43;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
.header__menu .dx-button-content {
  padding: 0;
  height: auto;
}
.header__menu:hover {
  color: #345b43;
  text-decoration: none;
  background: transparent;
}
.header__menu:before {
  top: 14px;
  left: 50%;
  content: "";
  width: 32px;
  height: 32px;
  margin-left: -17px;
  position: absolute;
  background: url("../images/icon__source.png") 50% 50% no-repeat;
  background-size: cover;
}
.header__menu span {
  display: none;
}
.header__save {
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  display: block;
  font-weight: 700;
  text-align: center;
  position: relative;
  color: #345b43;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-decoration: none;
  background: transparent;
  text-transform: uppercase;
}
.header__save:before {
  top: 14px;
  left: 50%;
  content: "";
  width: 32px;
  height: 32px;
  margin-left: -16px;
  position: absolute;
  background: url("../images/icon__save.png") 50% 50% no-repeat;
}
.header__save .dx-button-content {
  padding: 0;
  height: auto;
}
.header__save span {
  display: none;
}
.header__save:hover {
  background: transparent;
}
.header__logo {
  font-size: 0;
  line-height: 0;
  color: #345b43;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.header__logo i {
  width: 40px;
  height: 40px;
  display: block;
}
.header__logo span {
  display: none;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .header__nav > li:first-child {
    display: none;
  }
  .header__home {
    width: 146px;
    height: 100px;
    padding-top: 50px;
  }
  .header__home:before {
    top: 6px;
  }
  .header__home span {
    display: inline;
  }
  .header__save {
    width: 146px;
    height: 100px;
    padding-top: 50px;
  }
  .header__save:before {
    top: 6px;
  }
  .header__save span {
    display: inline;
  }
  .header__logo i {
    width: 81px;
    height: 79px;
    margin-right: 10px;
  }
  .header__logo span {
    display: block;
  }
}
@media (min-width: 992px) {
  .header__row {
    padding-right: 60px;
  }
}

.footer {
  text-align: center;
  background: #f3f3f3;
  border-top: 2px solid #919191;
}
.footer__row {
  padding: 25px 15px;
}
.footer__text {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #345b43;
  max-width: 450px;
  margin: 0 auto 25px auto;
}
.footer__support {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #345b43;
  min-height: 54px;
  display: inline-block;
  text-decoration: none;
  padding-left: 65px;
  background: url("../images/icon__headphone.png") 0 50% no-repeat;
}
.footer__support:hover {
  color: #345b43;
  text-decoration: none;
}
.footer__support span {
  display: block;
}
.footer__support strong {
  display: block;
  font-size: 1.625rem;
  line-height: 1.5rem;
}
@media (min-width: 768px) {
  .footer {
    text-align: left;
  }
  .footer__row {
    height: 110px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer__text {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .footer__row {
    padding-left: 30px;
    padding-right: 60px;
  }
}

.page {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.sidebar {
  width: 147px;
  display: none;
  border-right: 1px solid #d1d3d6;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.sidebar__source {
  width: 146px;
  height: 100px;
  display: block;
  border: none;
  outline: none;
  font-weight: 700;
  padding-top: 65px;
  text-align: center;
  position: relative;
  color: #345b43;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
}
.sidebar__source .dx-button-content {
  padding: 0;
  height: auto;
}
.sidebar__source:hover {
  color: #345b43;
  text-decoration: none;
  background: transparent;
}
.sidebar__source:before {
  top: 16px;
  left: 50%;
  content: "";
  width: 44px;
  height: 44px;
  margin-left: -22px;
  position: absolute;
  background: url("../images/icon__source.png") 50% 50% no-repeat;
}
@media (min-width: 768px) {
  .sidebar {
    display: block;
  }
}

.content {
  max-width: 100%;
  padding: 15px 0 20px 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.content__wrap {
  padding: 0 15px;
}
.content__row {
  width: 100%;
  max-width: 100%;
}
.content__main {
  width: 100%;
  max-width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .content__wrap {
    padding: 0 35px;
  }
}
@media (min-width: 1200px) {
  .content__row {
    padding-right: 385px;
    position: relative;
  }
  .content__main {
    width: auto;
    max-width: inherit;
    min-height: 1px;
  }
  .content__three {
    top: 0;
    right: 0;
    width: 385px;
    min-height: 1px;
    position: absolute;
  }
}

.inner {
  max-width: 1640px;
}

.menu {
  margin-bottom: 30px;
}
.menu_border {
  padding-bottom: 20px;
  border-bottom: 1px solid #dadbdd;
}
.menu > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.menu > ul > li {
  margin: 0 10px;
}
.menu > ul > li a {
  font-size: 0;
  line-height: 0;
  color: #345b43;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.menu > ul > li a i {
  display: inline-block;
}
.menu > ul > li a span {
  display: none;
  padding-left: 8px;
  white-space: nowrap;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.menu > ul > li a:hover {
  color: #345b43;
  text-decoration: none;
}
@media (min-width: 576px) {
  .menu > ul > li > a span {
    display: inline-block;
  }
}

.box {
  padding: 30px 20px;
  margin-bottom: 30px;
  border: 1px solid #dadbdd;
}
.box__heading {
  color: #345b43;
  font-size: 1.125rem;
  line-height: 1.2rem;
  margin-bottom: 25px;
}
@media (min-width: 576px) {
  .box__heading {
    margin-top: -45px;
  }
  .box__heading span {
    padding: 5px;
    background: #f3f3f3;
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .box {
    padding-right: 90px;
  }
}

.info_bar {
  font-size: 0;
  line-height: 0;
  margin: -15px 0 12px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.info_bar__elem {
  margin: 0 10px;
  opacity: 0.6;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #345b43;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.info_bar__elem i {
  display: inline-block;
}
.info_bar__elem span {
  padding-left: 8px;
  white-space: nowrap;
}

.status_bar {
  padding: 12px 15px;
  border: 1px solid #d8d9dc;
}
.status_bar__elem {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #345b43;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.status_bar__elem i {
  display: inline-block;
}
.status_bar__elem span {
  padding-left: 8px;
  white-space: nowrap;
}

.forms {
  padding-top: 50px;
}
.forms__logo {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #345b43;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.forms__thanks {
  text-align: center;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.forms__thanks i {
  display: inline-block;
}
.forms__thanks span {
  padding-left: 12px;
  font-weight: 700;
  white-space: nowrap;
  font-size: 1.125rem;
  line-height: 1.25rem;
  display: inline-block;
  text-transform: uppercase;
}
.forms__text {
  text-align: center;
  margin-bottom: 70px;
}
.forms__form {
  max-width: 685px;
  margin: 0 auto;
}
.forms__form_item {
  padding: 10px 15px;
}
.forms__inner {
  width: 100%;
  margin: 0 auto;
  max-width: 570px;
}
.forms__info {
  color: #838383;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 40px;
  border: 1px solid #a0a0a0;
}
.forms__info > ul {
  margin: 0;
  padding: 10px 8px;
  list-style: none;
}
.forms__info > ul > li {
  padding: 8px 0;
}
.forms__info > ul > li span {
  margin: 0 12px;
  display: inline-block;
}
.forms__info > ul > li strong {
  color: #000;
  font-weight: 400;
  display: inline-block;
}
.forms__info_empty {
  color: #000;
  height: 285px;
  background: #fff;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.forms__info_wrap {
  padding: 20px;
  margin: auto 0;
}
.forms__info_title {
  color: #646464;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: uppercase;
}
@media (min-width: 576px) {
  .forms__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .forms__form_item:first-child {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .forms__form_item:last-child {
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}

.text_lead {
  max-width: 640px;
  font-weight: 700;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin: 0 auto 25px auto;
}

.warning_block {
  font-size: 1rem;
  min-height: 80px;
  line-height: 1.25rem;
  border: 2px solid #345b43;
  padding: 15px 20px 15px 95px;
  background: url("../images/icon__warning.png") 15px 12px no-repeat;
}
@media (min-width: 768px) {
  .warning_block {
    background-position: 15px 50%;
  }
}

.search {
  max-width: 690px;
}

.table_box {
  max-height: 430px;
}

.data_table.dx-widget {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.base_table.dx-widget {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.base_table td:first-child .dx-treelist-text-content {
  display: none !important;
}

.table_strip .dx-treelist-rowsview .dx-treelist-table tr {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.table_strip .dx-treelist-rowsview .dx-treelist-table tr:nth-child(odd) td {
  background: #ffffe1;
}
.table_strip .dx-treelist-rowsview .dx-treelist-table tr:nth-child(even) td {
  background: #f1ffff;
}

.table_light .dx-treelist-headers {
  display: none;
}

.dx-widget {
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: "Roboto", Arial, sans-serif;
}

.dx-treelist .dx-column-lines > td {
  border: 1px solid #e2e3e6;
  border-bottom: none;
}

.dx-treelist .dx-column-lines:first-child > td {
  border-top: none;
}

.dx-treelist-headers {
  background: #f1f1f1;
}
.dx-treelist-headers td {
  color: #626467;
}

.top_line {
  width: 100%;
  padding: 20px 10px 0 10px;
  border-bottom: 1px solid #d1d3d6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.top_line__toggle {
  width: 49px;
  height: 27px;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background: url("../images/icon__page_top.png") 50% 50% no-repeat;
}
.top_line__toggle > * {
  display: none;
}
.top_line__toggle:hover {
  background-color: transparent;
}
.top_line__heading {
  height: 28px;
  color: #000;
  margin-bottom: -1px;
  background: #f3f3f3;
  font-weight: 700;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 4px 20px 2px 20px;
  text-transform: uppercase;
  border: 1px solid #d1d3d6;
  border-bottom-color: #f3f3f3;
}

.status {
  width: 256px;
  border: 1px solid #9b9b9c;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.status__item {
  width: 50%;
  height: 70px;
  color: #626467;
  text-align: center;
  background: #e9e9ea;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.status__item span {
  display: block;
  margin: auto 0;
}
.status__item:first-child {
  border-right: 1px solid #9b9b9c;
}

@media (min-width: 992px) {
  .main_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .main_row .box {
    margin-bottom: 0;
  }
  .main_row__primary {
    padding-right: 50px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .main_row__second {
    padding-top: 40px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 1200px) {
  .main_row .box {
    padding-right: 20px;
  }
}

.content_nav {
  margin: 0;
  padding: 10px 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.content_nav > li {
  border-right: 1px solid #d1d3d6;
}
.content_nav > li:last-child {
  border-right: none;
}
.content_nav__create {
  border: none;
  outline: none;
  width: 125px;
  height: 100px;
  display: block;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  color: #345b43;
  padding: 55px 0 0 0;
  text-transform: uppercase;
  font-family: "Roboto", Arial, sans-serif;
  background: url("../images/icon__create.png") 50% 10px no-repeat;
}
.content_nav__create .dx-button-content {
  padding: 0;
  height: auto;
}
.content_nav__create:hover {
  background-color: transparent;
}
.content_nav__open {
  border: none;
  outline: none;
  width: 125px;
  height: 100px;
  display: block;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  color: #345b43;
  padding: 55px 0 0 0;
  text-transform: uppercase;
  font-family: "Roboto", Arial, sans-serif;
  background: url("../images/icon__open_invert.png") 50% 15px no-repeat;
}
.content_nav__open .dx-button-content {
  padding: 0;
  height: auto;
}
.content_nav__open:hover {
  background-color: transparent;
}

.box_responsive {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}
.box_responsive > * {
  margin-bottom: 5px;
}

.dx-datagrid-rowsview .dx-row {
  border-top-color: #d9dadd;
  border-bottom-color: #d9dadd;
}

.dx-datagrid-headers {
  color: #000000;
  border-bottom: none;
  background-color: #ebecee;
}

.tree__heading {
  height: 36px;
  font-size: 0;
  line-height: 0;
  color: #000000;
  padding: 2px 5px 2px 10px;
  background-color: #ebecee;
  border: 1px solid #ddd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.tree__heading_text {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.tree__heading_button {
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background: url("../images/tree__heading_button.png") 50% 50% no-repeat;
}
.tree__heading_button > * {
  display: none;
}
.tree__heading_button:hover {
  background-color: transparent;
}
.tree__content {
  background: #fff;
  padding: 0 0 5px 5px;
  border: 1px solid #ddd;
}

.data_tree.dx-widget {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.data_tree .dx-treeview-item {
  min-height: 26px;
  padding: 3px 6px;
}
.data_tree .dx-treeview-item {
  color: #0173c7;
  text-decoration: underline;
}
.data_tree .dx-state-focused > .dx-treeview-item {
  color: #000;
  background-color: #ececee;
  text-decoration: none;
}
.data_tree .dx-state-focused > .dx-treeview-item span {
  color: #000 !important;
}

/*# sourceMappingURL=main.css.map */
