.header {
	padding: 10px 0;
	border-bottom: 1px solid #d1d3d6;

	&__row {
		padding-right: 15px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__nav {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		@include flexbox();
		@include align-items(center);

		> li {
			border-left: 1px solid #d1d3d6;

			&:first-child {
				border-left: none;
			}
		}
	}

	&__home {
		width: 60px;
		height: 60px;
		border: none;
		outline: none;
		display: block;
		font-weight: 700;
		text-align: center;
		position: relative;
		color: $color-green;
		font-size: 0.875rem;
		line-height: 1.5rem;
		text-decoration: none;
		background: transparent;
		text-transform: uppercase;

		&:hover {
			color: $color-green;
			text-decoration: none;
			background: transparent;
		}

		&:before {
			top: 14px;
			left: 50%;
			content: '';
			width: 34px;
			height: 32px;
			margin-left: -17px;
			position: absolute;
			background: url("../images/icon__home.png") 50% 50% no-repeat;
		}

		.dx-button-content {
			padding: 0;
			height: auto;
		}

		span {
			display: none;
		}
	}

	&__menu {
		width: 60px;
		height: 60px;
		border: none;
		outline: none;
		display: block;
		font-weight: 700;
		text-align: center;
		position: relative;
		color: $color-green;
		font-size: 0.875rem;
		line-height: 1.5rem;
		text-decoration: none;
		text-transform: uppercase;

		.dx-button-content {
			padding: 0;
			height: auto;
		}

		&:hover {
			color: $color-green;
			text-decoration: none;
			background: transparent;
		}

		&:before {
			top: 14px;
			left: 50%;
			content: '';
			width: 32px;
			height: 32px;
			margin-left: -17px;
			position: absolute;
			background: url("../images/icon__source.png") 50% 50% no-repeat;
			background-size: cover;
		}

		span {
			display: none;
		}
	}

	&__save {
		width: 60px;
		height: 60px;
		border: none;
		outline: none;
		display: block;
		font-weight: 700;
		text-align: center;
		position: relative;
		color: $color-green;
		font-size: 0.875rem;
		line-height: 1.5rem;
		text-decoration: none;
		background: transparent;
		text-transform: uppercase;

		&:before {
			top: 14px;
			left: 50%;
			content: '';
			width: 32px;
			height: 32px;
			margin-left: -16px;
			position: absolute;
			background: url("../images/icon__save.png") 50% 50% no-repeat;
		}

		.dx-button-content {
			padding: 0;
			height: auto;
		}

		span {
			display: none;
		}

		&:hover {
			background: transparent;
		}
	}

	&__logo {
		font-size: 0;
		line-height: 0;
		color: $color-green;
		@include flexbox();
		@include align-items(center);

		i {
			width: 40px;
			height: 40px;
			display: block;
		}

		span {
			display: none;
			font-size: 1rem;
			line-height: 1.5rem;
			text-align: center;
			text-transform: uppercase;
		}
	}

	@media (min-width: $screen-md-min) {

		&__nav {

			> li {

				&:first-child {
					display: none;
				}
			}
		}

		&__home {
			width: 146px;
			height: 100px;
			padding-top: 50px;

			&:before {
				top: 6px;
			}

			span {
				display: inline;
			}
		}

		&__save {
			width: 146px;
			height: 100px;
			padding-top: 50px;

			&:before {
				top: 6px;
			}

			span {
				display: inline;
			}
		}

		&__logo {

			i {
				width: 81px;
				height: 79px;
				margin-right: 10px;
			}

			span {
				display: block;
			}
		}
	}


	@media (min-width: $screen-lg-min) {

		&__row {
			padding-right: 60px;
		}
	}
}

