.footer {
	text-align: center;
	background: #f3f3f3;
	border-top: 2px solid #919191;

	&__row {
		padding: 25px 15px;
	}

	&__text {
		font-size: 1rem;
		line-height: 1.5rem;
		color: $color-green;
		max-width: 450px;
		margin: 0 auto 25px auto;
	}

	&__support {
		font-size: 1rem;
		line-height: 1.5rem;
		color: $color-green;
		min-height: 54px;
		display: inline-block;
		text-decoration: none;
		padding-left: 65px;
		background: url("../images/icon__headphone.png") 0 50% no-repeat;

		&:hover {
			color: $color-green;
			text-decoration: none;
		}

		span {
			display: block;
		}

		strong {
			display: block;
			font-size: 1.625rem;
			line-height: 1.5rem;
		}
	}


	@media (min-width: $screen-md-min) {
		text-align: left;

		&__row {
			height: 110px;
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);
		}

		&__text {
			margin: 0;
		}
	}


	@media (min-width: $screen-lg-min) {

		&__row {
			padding-left: 30px;
			padding-right: 60px;
		}
	}
}