.page {
	width: 100%;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);
}

.main {
	padding-bottom: 50px;
	@include flexbox();
	@include flex-grow(1);
}

.sidebar {
	width: 147px;
	display: none;
	border-right: 1px solid #d1d3d6;
	@include flex-shrink(0);

	&__source {
		width: 146px;
		height: 100px;
		display: block;
		border: none;
		outline: none;
		font-weight: 700;
		padding-top: 65px;
		text-align: center;
		position: relative;
		color: $color-green;
		font-size: 0.875rem;
		line-height: 1.5rem;
		text-decoration: none;
		text-transform: uppercase;
		background: transparent;

		.dx-button-content {
			padding: 0;
			height: auto;
		}

		&:hover {
			color: $color-green;
			text-decoration: none;
			background: transparent;
		}

		&:before {
			top: 16px;
			left: 50%;
			content: '';
			width: 44px;
			height: 44px;
			margin-left: -22px;
			position: absolute;
			background: url("../images/icon__source.png") 50% 50% no-repeat;
		}
	}

	@media (min-width: $screen-md-min) {
		display: block;
	}
}

.content {
	max-width: 100%;
	padding: 15px 0 20px 0;
	@include flex-grow(1);

	&__wrap {
		padding: 0 15px;
	}

	&__row {
		width: 100%;
		max-width: 100%;
	}

	&__main {
		width: 100%;
		max-width: 100%;
		position: relative;
	}

	@media (min-width: $screen-lg-min) {

		&__wrap {
			padding: 0 35px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__row {
			padding-right: 385px;
			position: relative;
		}

		&__main {
			width: auto;
			max-width: inherit;
			min-height: 1px;
		}

		&__three {
			top: 0;
			right: 0;
			width: 385px;
			min-height: 1px;
			position: absolute;
		}
	}
}

.inner {
	max-width: 1640px;
}

.menu {
	margin-bottom: 30px;

	&_border {
		padding-bottom: 20px;
		border-bottom: 1px solid #dadbdd;
	}

	> ul {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include align-items(center);

		> li {
			margin: 0 10px;

			a {
				font-size: 0;
				line-height: 0;
				color: $color-green;
				text-decoration: none;
				@include flexbox();
				@include align-items(center);

				i {
					display: inline-block;
				}

				span {
					display: none;
					padding-left: 8px;
					white-space: nowrap;
					font-size: 0.875rem;
					line-height: 1.25rem;
				}

				&:hover {
					color: $color-green;
					text-decoration: none;
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		> ul {

			> li {

				> a {

					span {
						display: inline-block;
					}
				}
			}
		}
	}
}

.box {
	padding: 30px 20px;
	margin-bottom: 30px;
	border: 1px solid #dadbdd;

	&__heading {
		color: $color-green;
		font-size: 1.125rem;
		line-height: 1.2rem;
		margin-bottom: 25px;
	}

	@media (min-width: $screen-sm-min) {

		&__heading {
			margin-top: -45px;

			span {
				padding: 5px;
				background: #f3f3f3;
				display: inline-block;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-right: 90px;
	}
}

.info_bar {
	font-size: 0;
	line-height: 0;
	margin: -15px 0 12px 0;
	@include flexbox();

	&__elem {
		margin: 0 10px;
		opacity: 0.6;
		font-size: 0.875rem;
		line-height: 1.25rem;
		color: $color-green;
		text-decoration: none;
		@include flexbox();
		@include align-items(center);

		i {
			display: inline-block;
		}

		span {
			padding-left: 8px;
			white-space: nowrap;

		}
	}
}

.status_bar {
	padding: 12px 15px;
	border: 1px solid #d8d9dc;

	&__elem {
		font-weight: 700;
		font-size: 0.875rem;
		line-height: 1.25rem;
		color: $color-green;
		text-decoration: none;
		@include flexbox();
		@include align-items(center);

		i {
			display: inline-block;
		}

		span {
			padding-left: 8px;
			white-space: nowrap;

		}
	}
}

.forms {
	padding-top: 50px;

	&__logo {
		font-size: 1rem;
		line-height: 1.5rem;
		color: $color-green;
		text-align: center;
		margin-bottom: 30px;
		text-transform: uppercase;
	}

	&__thanks {
		text-align: center;
		margin-bottom: 50px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);

		i {
			display: inline-block;
		}

		span {
			padding-left: 12px;
			font-weight: 700;
			white-space: nowrap;
			font-size: 1.125rem;
			line-height: 1.25rem;
			display: inline-block;
			text-transform: uppercase;
		}
	}

	&__text {
		text-align: center;
		margin-bottom: 70px;
	}

	&__form {
		max-width: 685px;
		margin: 0 auto;

		&_item {
			padding: 10px 15px;
		}
	}

	&__inner {
		width: 100%;
		margin: 0 auto;
		max-width: 570px;
	}

	&__info {
		color: #838383;
		font-size: 1rem;
		line-height: 1.25rem;
		margin-bottom: 40px;
		border: 1px solid #a0a0a0;

		> ul {
			margin: 0;
			padding: 10px 8px;
			list-style: none;

			> li {
				padding: 8px 0;

				span {
					margin: 0 12px;
					display: inline-block;
				}

				strong {
					color: #000;
					font-weight: 400;
					display: inline-block;
				}
			}
		}

		&_empty {
			color: #000;
			height: 285px;
			background: #fff;
			text-align: center;
			@include flexbox();
			@include flex-direction(column);
		}

		&_wrap {
			padding: 20px;
			margin: auto 0;
		}

		&_title {
			color: #646464;
			font-weight: 700;
			font-size: 1.5rem;
			line-height: 1.75rem;
			text-transform: uppercase;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__form {
			@include flexbox();

			&_item {

				&:first-child {
					@include flex-grow(1);
				}

				&:last-child {
					@include flex-shrink(0);
				}
			}
		}
	}
}

.text_lead {
	max-width: 640px;
	font-weight: 700;
	text-align: center;
	font-size: 1.25rem;
	line-height: 1.875rem;
	margin: 0 auto 25px auto;
}

.warning_block {
	font-size: 1rem;
	min-height: 80px;
	line-height: 1.25rem;
	border: 2px solid #345b43;
	padding: 15px 20px 15px 95px;
	background: url("../images/icon__warning.png") 15px 12px no-repeat;

	@media (min-width: $screen-md-min) {
		background-position: 15px 50%;
	}
}

.search {
	max-width: 690px;
}

.table_box {
	max-height: 430px;
}

.data_table {

	&.dx-widget {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
}

.base_table {

	&.dx-widget {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}

	td {

		&:first-child {

			.dx-treelist-text-content {
				display: none !important;
			}
		}
	}
}

.table_strip {

	.dx-widget {

	}

	.dx-treelist-rowsview {

		.dx-treelist-table {

			tr {
				font-size: 0.875rem;
				line-height: 1.25rem;

				&:nth-child(odd) {

					td {
						background: #ffffe1;
					}
				}

				&:nth-child(even) {

					td {
						background: #f1ffff;
					}
				}
			}
		}
	}
}

.table_light {

	.dx-treelist-headers {
		display: none;
	}
}


.dx-widget {
	font-size: 1rem;
	line-height: 1.25rem;
	font-family: $font-family-base;
}


.dx-treelist .dx-column-lines > td {
	border: 1px solid #e2e3e6;
	border-bottom: none;
}

.dx-treelist .dx-column-lines:first-child > td {
	border-top: none;
}

.dx-treelist-headers {
	background: #f1f1f1;

	td {
		color: #626467;
	}
}

.top_line {
	width: 100%;
	padding: 20px 10px 0 10px;
	border-bottom: 1px solid #d1d3d6;
	@include flexbox();

	&__toggle {
		width: 49px;
		height: 27px;
		border: none;
		outline: none;
		cursor: pointer;
		display: inline-block;
		background: url("../images/icon__page_top.png") 50% 50% no-repeat;

		> * {
			display: none;
		}

		&:hover {
			background-color: transparent;
		}
	}

	&__heading {
		height: 28px;
		color: #000;
		margin-bottom: -1px;
		background: #f3f3f3;
		font-weight: 700;
		text-align: center;
		font-size: 0.875rem;
		line-height: 1.25rem;
		padding: 4px 20px 2px 20px;
		text-transform: uppercase;
		border: 1px solid #d1d3d6;
		border-bottom-color: #f3f3f3;
	}
}


.status {
	width: 256px;
	border: 1px solid #9b9b9c;
	@include flexbox();

	&__item {
		width: 50%;
		height: 70px;
		color: #626467;
		text-align: center;
		background: #e9e9ea;
		font-size: 0.875rem;
		line-height: 1.25rem;
		@include flexbox();
		@include flex-direction(column);

		span {
			display: block;
			margin: auto 0;
		}

		&:first-child {
			border-right: 1px solid #9b9b9c;
		}
	}
}

.main_row {

	@media (min-width: $screen-lg-min) {
		@include flexbox();

		.box {
			margin-bottom: 0;
		}

		&__primary {
			padding-right: 50px;
			@include flex-grow(1);
		}

		&__second {
			padding-top: 40px;
			@include flex-shrink(0)
		}
	}

	@media (min-width: $screen-xl-min) {

		.box {
			padding-right: 20px;
		}
	}
}

.content_nav {
	margin: 0;
	padding: 10px 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	@include flexbox();

	> li {
		border-right: 1px solid #d1d3d6;

		&:last-child {
			border-right: none;
		}
	}

	&__create {
		border: none;
		outline: none;
		width: 125px;
		height: 100px;
		display: block;
		cursor: pointer;
		font-weight: 700;
		text-align: center;
		color: $color-green;
		padding: 55px 0 0 0;
		text-transform: uppercase;
		font-family: $font-family-base;
		background: url("../images/icon__create.png") 50% 10px no-repeat;

		.dx-button-content {
			padding: 0;
			height: auto;
		}

		&:hover {
			background-color: transparent;
		}
	}

	&__open {
		border: none;
		outline: none;
		width: 125px;
		height: 100px;
		display: block;
		cursor: pointer;
		font-weight: 700;
		text-align: center;
		color: $color-green;
		padding: 55px 0 0 0;
		text-transform: uppercase;
		font-family: $font-family-base;
		background: url("../images/icon__open_invert.png") 50% 15px no-repeat;

		.dx-button-content {
			padding: 0;
			height: auto;
		}

		&:hover {
			background-color: transparent;
		}
	}
}


.box_responsive {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;

	> * {
		margin-bottom: 5px;
	}
}


.dx-datagrid-rowsview .dx-row {
	border-top-color: #d9dadd;
	border-bottom-color: #d9dadd;
}

.dx-datagrid-headers {
	color: #000000;
	border-bottom: none;
	background-color: #ebecee;
}

.tree {

	&__heading {
		height: 36px;
		font-size: 0;
		line-height: 0;
		color: #000000;
		padding: 2px 5px 2px 10px;
		background-color: #ebecee;
		border: 1px solid #ddd;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		&_text {
			font-size: 0.875rem;
			line-height: 1.25rem;
		}

		&_button {
			width: 24px;
			height: 24px;
			border: none;
			outline: none;
			cursor: pointer;
			display: inline-block;
			background: url("../images/tree__heading_button.png") 50% 50% no-repeat;

			> * {
				display: none;
			}

			&:hover {
				background-color: transparent;
			}
		}
	}


	&__content {
		background: #fff;
		padding: 0 0 5px 5px;
		border: 1px solid #ddd;
	}
}


.data_tree {

	&.dx-widget {
		font-size: 0.875rem;
		line-height: 1.25rem;

		.dx-state-focused {

			.dx-item {

			}

			.dx-treeview-item {

			}

			.dx-treeview-item-content {

			}
		}
	}

	.dx-treeview-item {
		min-height: 26px;
		padding: 3px 6px;
	}

	.dx-treeview-item {
		color: #0173c7;
		text-decoration: underline;
	}

	.dx-state-focused {

		> .dx-treeview-item {
			color: #000;
			background-color: #ececee;
			text-decoration: none;

			span {
				color: #000 !important;
			}
		}
	}
}








