
.breadcrumbs {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 0 20px 0;
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);

	> li {
		font-size: 1.5rem;
		line-height: 1.875;
		color: $color-green;
		display: inline-block;

		&:after {
			content: '';
			width: 25px;
			height: 15px;
			margin: 0 15px;
			display: inline-block;
			background: url("../images/icon__arrow_next.png") 0 0 no-repeat;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		> a {
			color: $color-green;
			text-decoration: none;

			&:hover {
				color: $color-green;
				text-decoration: underline;
			}
		}
	}
}