
.btn {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.3rem;
	line-height: 2rem;
	padding: 15px 40px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #c3325f;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;

	&:hover {
		color: #fff;
		background: #97BBFB;
	}

	&:active {
		background: #E3CAFF;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.dx-button {
	font-size: 0.875rem !important;
	line-height: 1.25rem !important;
}

.btn_text {
	color: $color-green;
	font-size: 1.125rem;
	text-decoration: underline;

	&:hover {
		color: $color-green;
		text-decoration: none;
	}
}


.dx-button {
	font-size: 0.875rem;
	line-height: 1.25rem;
	border-color: #9b9b9c;
	background-color: #e9e9ea;
	@include border-radius(0);

	&:hover,
	&:focus {
		border-color: #9b9b9c;
	}
}

.dx-button-has-text .dx-button-content {
	padding: 4px 18px 5px;
}

.btn_green222 {
	color: #fff;
	font-size: 0.875rem !important;
	line-height: 1.25rem !important;
	border-color: #345b43;
	background-color: #345b43;

	.dx-button-content {
		background-color: #345b43;
	}

	&:hover,
	&:focus {
		border-color: #345b43;
		background-color: #345b43;

		.dx-button-content {
			background-color: #345b43;
		}
	}

	&.disable {
		border-color: #585c67;
		background-color: #585c67;

		.dx-button-content {
			background-color: #585c67;
		}
	}
}

.dx-button {

	&.btn_green {
		color: #fff;
		font-size: 0.875rem !important;
		line-height: 1.25rem !important;
		border-color: #345b43;
		background-color: #345b43;

		.dx-button-content {
			background-color: #345b43;
		}


		&:hover,
		&:focus {
			border-color: #345b43;
			background-color: #345b43;

			.dx-button-content {
				background-color: #345b43;
			}
		}
	}

	&.btn_border {
		color: $color-green;
		border: 2px solid $color-green;

		.dx-button-content {
			padding: 3px 18px 4px !important;
		}

		&:hover {
			color: #fff;
			background-color: $color-green;
		}
	}

	&.dx-state-disabled {

		&.btn_green {
			border-color: #585c67;
			background-color: #585c67;

			.dx-button-content {
				background-color: #585c67;
			}
		}
	}

	&.btn_switch {
		width: 100%;
		border: none;
		outline: none;
		text-decoration: none;
		background: transparent;

		.dx-button-content {
			width: 100%;
			padding: 24px 5px 25px 5px;
			background-color: transparent;
		}

		&:hover {
			background-color: #dededf;
		}
	}
}

.dx-state-disabled.dx-button .dx-button-text, .dx-state-disabled .dx-button .dx-button-text {
	opacity: 1;
}
