.form_wrap {
	max-width: 760px;
}


.form_label {
	color: #000;
	display: block;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 5px;
	line-height: 1.25rem;
}

.dx-texteditor-input {
	color: #000;
	padding: 2px 10px;
	font-size: 1rem;
	line-height: 1.5rem;
	border: 1px solid #aaaaaa;
	min-height: 30px;
	@include border-radius(0);
}

.dx-state-disabled.dx-widget,
.dx-state-disabled .dx-widget {
	opacity: 1;
}

.dx-placeholder {

	&:before {
		color: #9fa2ab;
		padding: 2px 10px;
		font-size: 1rem;
		line-height: 1.5rem;
	}
}

.dx-button-content {
	background: #f0f1f1;
}

.dx-dropdowneditor-button {
	padding-left: 0;
	border-left: 1px solid #aaa;
	@include border-radius(0);
}

.dx-dropdowneditor-icon {
	background: #f0f1f1;
	@include border-radius(0);

	&:before {
		content: '';
		width: 18px;
		height: 18px;
		background: url("../images/icon__select.png") 50% 50% no-repeat;
	}
}

.dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon,
.dx-dropdowneditor-button.dx-state-active .dx-dropdowneditor-icon {
	background: #d9dada;
}

.dx-checkbox-has-text .dx-checkbox-icon, .dx-checkbox-has-text .dx-checkbox-text {
	vertical-align: top;
}


.form_inline {

	&__label {
		color: #626467;
		display: block;
		font-weight: 400;
		overflow: hidden;
		white-space: nowrap;
		font-size: 1rem;
		line-height: 1.25rem;
		text-overflow: ellipsis;
		padding: 5px 10px 5px 0;
	}

	&__input {}


	@media (min-width: $screen-lg-min) {
		@include flexbox();

		&__label {
			width: 290px;
			text-align: right;
			padding-right: 30px;
			@include flex-shrink(0);

			&.label_long {
				overflow: visible;
				white-space: normal;
			}
		}

		&__input {
			@include flex-grow(1);
		}
	}

	@media (min-width: $screen-xl-min) {

		&__label {

			&.label_long {
				width: 360px;
			}
		}

		&_float {

			.form_inline__label {
				width: auto;
				text-align: left;
				padding-right: 10px;
			}

			.form_inline__input {
				@include flex-grow(0);
			}
		}

		&_long {

			.form_inline__input {
				min-width: 320px;
				@include flex-grow(0);
			}
		}
	}
}

.inline_block {
	margin: 0 -20px;

	&__item {
		padding: 0 10px;
	}

	@media (min-width: $screen-xl-min) {
		@include flexbox();
		@include flex-wrap(wrap);
	}
}


.form_row {
	margin: 0 -20px;
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(space-between);
}

.form_col {
	width: 100%;
	padding: 0 20px;
}

.form_col_50 {

	@media (min-width: $screen-xxl-min) {
		width: 50%;
	}
}

.form_line {
	margin: 0 -5px;
	@include flexbox();

	&__elem {
		padding: 0 5px;
	}

	&__long {
		@include flex-grow(1);
	}
}

.dx-fileuploader {
	width: auto;
	font-size: 0 !important;
	line-height: 0 !important;
	display: inline-block;
}

.dx-fileuploader-wrapper {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	border: none;
	display: inline-block;
}

.dx-fileuploader-container {
	width: auto;
	height: auto;
	display: inline-block;
}

.dx-fileuploader-input-wrapper {
	padding: 0;
	border: none;
	display: inline-block;
}

.dx-fileuploader-input-container {
	display: none;
}


.form_radio_single {
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	display: inline-block;

	input {
		display: none;
	}

	span {
		width: 14px;
		height: 14px;
		background: #fff;
		position: relative;
		display: inline-block;
		border: 1px solid #aeaeae;
		@include border-radius(50%);

		&:before {
			top: 50%;
			left: 50%;
			width: 8px;
			height: 8px;
			content: '';
			opacity: 0;
			background: #000;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			margin: -4px 0 0 -4px;
			@include border-radius(50%);
		}
	}

	input:checked + span:before {
		opacity: 1;
		visibility: visible;
	}
}

.radio_emu {
	font-size: 0;
	line-height: 0;
	width: 14px;
	height: 14px;
	background: #fff;
	position: relative;
	display: inline-block;
	border: 1px solid #aeaeae;
	@include border-radius(50%);

	&:before {
		top: 50%;
		left: 50%;
		width: 8px;
		height: 8px;
		content: '';
		opacity: 0;
		background: #000;
		visibility: hidden;
		position: absolute;
		display: inline-block;
		margin: -4px 0 0 -4px;
		@include border-radius(50%);
	}
}

.dx-selection {

	.radio_emu {

		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}
